.ui-autocomplete-loading {
    background: url('../img/loading16x16.gif') no-repeat;
    background-origin: content-box;
    background-position: right;
}
ul.ui-autocomplete {
	margin: 0;
	padding: 0;
	position: absolute;
	background-color: #FFFFFF;
	border: 1px solid black;
	width: 320px;
	color: #587596;
	font-weight: bold;
}
ul.ui-autocomplete li {
    list-style-type: none;
	padding: 0;
	min-height: 40px;
	cursor: pointer;
}
#ui-active-menuitem {
	border: 1px solid #587596;
	background-color:#7CA0C7;
	color:#FFF;
	font-weight: bold;
}
ul.ui-autocomplete li a:hover {
	color:#FFF;
	font-weight: bold;
}
ul.ui-autocomplete li a {
	display: block;
	padding: 2px 3px;
	min-height: 40px;
}

.ui-helper-clearfix{
	display: block;
}
.ui-helper-clearfix span {
	border: 1px solid #587596;
	color: #FFF;
	background-color:#7CA0C7;
	display: block;
	float: left;
	position: relative;
	margin: 0 3px 3px 0;
	padding: 3px 20px 4px 8px;
	min-height: 40px;
	font-weight: bold;
}
.ui-helper-clearfix span:hover {
	background-color:#8eb6e3;
}
.ui-helper-clearfix span a {
	position: absolute;
	top:17px;
	right: 8px;
	font-weight: bold;
	color: #003366;
}
.ui-helper-clearfix span a:hover {
	color:white;
}
.ui-helper-clearfix span img {
	border: 2px solid #EEEEEE;
	background-color: white;
}
.last, ul.ui-autocomplete li.last {
	font-weight: bold;
	background-color: #DDDDDD;
	text-align: center;
	color: #587596;
	border: 1px solid #AAAAAA;
}
ul.ui-autocomplete li.last:hover {
	color: #FFF;
	background-color:#7CA0C7;
}
ul.ui-autocomplete a img {
	border: none;
}
