#changelist-filter-content {
	display: none;
}

#changelist-filter h2 {
    border-bottom: 1px solid #DDDDDD;
    font-size: 11px;
    padding: 2px 5px;
    height: 26px;
}
#changelist-filter h2 span {
	padding-right: 13px;
}
#changelist-filter h2.up span {
	background: url("../img/arrow-up.gif") no-repeat scroll right 0.4em transparent;
}

#changelist-filter h2.down span {
	background: url("../img/arrow-down.gif") no-repeat scroll right 0.4em transparent;
} 
