.popup #content {
	margin: 0 10px;
}
.popup, #container {
	min-width: 470px;
}

.popup .form-row {
	padding: 5px 12px;
}

.username {
	display:none;
}

.vTextField{ 
	width: 149px;
	height: 14px;
}

.errorlist li {
    background: none;
    border:none;
    color: red;
    display: block;
    margin: 0;
    padding: 0;
    font-weight: normal;
}
ul.errorlist {
	float: right;
	margin: 5px 0 0 !important;
	min-width: 149px;
}
.form-row select {
	width: 157px;
}