{% extends "real_estate_app/base.html" %}

{% block content_main %}
    
					<p>Você está vendo: {{ proprety.address }}, {{ proprety.district_fk }} 
					{{ proprety.price|floatformat:2 }} 
					</p>
					<span > CÓDIGO DO IMÓVEL: <strong >{{ proprety.code_proprety }}</strong></span>
					<br />
					{% if proprety.photos %}              
			           <h1>Fotos</h1>
						{% for photo in proprety.photos %}
								<img src="{{ photo.get_photo_94x94_resize_url }}" alt="image" />
					   {% endfor %}

					{% endif %}
               
					{% if proprety.description %} 
	               		<h1>Descrição do imóvel</h1>
						<p> {{ proprety.description|safe|linebreaks }} </p>
					{% endif %}
					
					<h1>Informações detalhadas</h1>
					{% if proprety.classification_fk or proprety.iptu or proprety.condominio or proprety.private_area or proprety.under_construction or proprety.zip_code %}
					<ul>
						{% if proprety.zip_code %}
						<li> CEP: <strong id="cep"> {{ proprety.zip_code }} </strong> </li>
						{% endif %}
						{% if proprety.classification_fk %}
						<li> Tipo de imóvel: <strong> {{ proprety.classification_fk }} </strong></li>
						{% endif %}
						{% if proprety.iptu %}
						<li> IPTU: <strong class="price-nblock"> {{ proprety.iptu|floatformat:2 }} </strong> </li>
						{% endif %}
						{% if proprety.condominio %}
						<li> Condomínio: <strong class="price-nblock"> {{ proprety.condominio|floatformat:2 }} </strong> </li>
						{% endif %}
						{% if proprety.private_area %}
						<li> Área privada: <strong class="area-priv"> {{ proprety.private_area|floatformat:2 }}</strong> m² </li>
						{% endif %}
						{% if proprety.under_construction %}

						<li> Em construção: <strong> {% if proprety.under_construction  == "True" %} Sim {% else %} Não {% endif %} </strong></li>						
						{% endif %}

					</ul>
					{% endif %}
					{% if proprety.furnishing or proprety.rooms or proprety.baths or proprety.garage or proprety.elevator %}
					<ul > 
							{% if proprety.furnishing %}
							<li> Mobiliado: <strong> Sim </strong> </li>
							{% endif %}
							{% if proprety.rooms %}
							<li>Qtd. Quartos: <strong> {{ proprety.rooms }}</strong></li>
							{% endif %}
							{% if proprety.baths %}
							<li>Qtd. Banheiros:<strong> {{ proprety.baths }} </strong></li>
							{% endif %}
							{% if proprety.garage %}
							<li>Qtd. Garagens: <strong>{{ proprety.garage }}</strong></li>
							{% endif %}
							{% if proprety.elevator %}
							<li> Qtd. Elevadores: <strong> {{ proprety.elevator }} </strong></li>
							{% endif %}
					</ul>
					{% endif %}
					{% if proprety.aditionalthings_fk.only %}
					<h1> Informações adicionais do imóvel</h1>
					<ul>
						{% for aditional in proprety.aditionalthings_fk.only %}
						<li> {{ aditional.name }}: <strong>Sim</strong> </li>
						{% endfor %}
					</ul>
					{% endif %}
{% endblock %}
