{% extends "real_estate_app/base.html" %}
{% block content_main %}

	{% if proprety_list %}
	{% for proprety in proprety_list %}
            <p>
                <!-- proprety image -->
				{% if proprety.photos %}
					<img src="{{ proprety.get_random_photo.get_photo_125x91_resize_url }}" alt="Image"  width="125" height="91" />
				{% endif %}
                
                {{ proprety.price|floatformat:2 }} <br />
                {{ proprety.baths }} <br />
                {{ proprety.rooms }} <br />
                {{ proprety.garage }}<br />
                {{ proprety.classification_fk }}<br />
				{{ proprety.address }} <br /> 
				{{ proprety.district_fk }}, {{ proprety.state }}<br />
				{{ proprety.description|safe|truncatewords:35 }}<br />
				<a href="{{ proprety.get_absolute_url }}">Mais detalhes</a>
			</p>
		{% endfor %}
		{% else %}
			<p >Desculpe, mas a pesquisa não retornou nenhum resultado.</p>
		{% endif %}
		{% if is_paginated %}
			{# include "real_estate_app/pages/pagination.html" #}
		{% endif %}

{% endblock %}
