/* 
custom fullcalendar content 
custom fullcalendar widget admin 
*/
.widget-content .fc-header-left {
	text-align: center;
}
.widget-content .fc-header-left,
.widget-content .fc-header-left .fc-header-title h2,
#content-main .fc-header-center h2 {
	font-size: 20px;
}
.widget-content .fc-button-today {
	float: left;
}

.widget-content .fc-header-left,
.widget-content .fc-header-center,
.widget-content .fc-header-right {
	float:left;
	width: 100%;
}

.fc-event .fc-event-icons {
	float: right;
}

@media (max-width: 600px) {
	.fc-view-agendaWeek .fc-event-icons,
	.fc-view-agendaWeek .fc-event-time,
	.fc-view-agendaWeek .fc-event-title,
	.fc-view-month .fc-event-icons,
	.fc-view-month .fc-event-time,
	.fc-view-month .fc-event-title {
		display: none;
	}

}

@media (min-width: 322px) and (max-width: 480px) {
	.fc-header td {
    	float: left;
	}
	.fc-header-left,
	.fc-header-right {
		margin-top: 40px;
	}
	.fc-header-right {
		margin-left: -50px;
	}
	.fc-header-title {
		margin-bottom: 40px;
	}
}

@media (max-width: 320px) {

	.fc-header td {
    	float: left;
	}
	.fc-header-left {
		width: 125px;
	}
	.fc-header-center {
		width: 100%;
		text-align: left;
	}

	
}