{% load thumbnail i18n %}
{% if forloop.parentloop.last and forloop.parentloop.first %}
    <li id="{{ inline_admin_formset.formset.prefix }}-empty" class="span2 add-row">
        <div class="thumbnail">
            <img src="http://www.placehold.it/160x120/EFEFEF/AAAAAA&text={% trans 'Add new' %}" >
        </div>
    </li>
{% endif %}

{% if not forloop.parentloop.last %}
    {% for line in fieldset %}
        {% if forloop.first %}
            {% if forloop.parentloop.parentloop.first %}
            <li id="{{ inline_admin_formset.formset.prefix }}-empty" class="span2 add-row">
                <div class="thumbnail">
                    <img src="http://www.placehold.it/160x120/EFEFEF/AAAAAA&text={% trans 'Add new' %}">
                </div>
            </li>
            {% endif %}
            <li class="span2" 
                {% if not forloop.parentloop.parentloop.last %}
                rel="tooltip" data-placement="bottom" title="{{ inline_admin_form.form.description.value }}"
                data-toggle="collapse" 
                data-target="#{{ inline_admin_formset.formset.prefix }}-{% if not forloop.parentloop.parentloop.last %}{{ forloop.parentloop.parentloop.counter0 }}{% else %}empty{% endif %}"
                {% endif %}
            >
                <div class="thumbnail">
        {% endif %}
        {% for field in line %}
            {% if field.field.value %}
                {% if field.field.name == 'photo' %}
                    {% thumbnail field.field.value "160x120" crop="center" as img %}
                        <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}" />
                    {% endthumbnail %}
                    
                {% endif %}
            {% endif %}

        {% endfor %}
        {% if forloop.last %}
                </div>
            </li>
        {% endif %}

    {% endfor %}
{% endif %}
{% comment %}
<div id="{{ fieldset.name|slugify }}" >
<fieldset class="module aligned {{ fieldset.classes }} {% for line in fieldset %} {% if line.errors %}{% if forloop.first %}errornote-custom{% endif %}{% endif%} {% endfor %}">
    {% if fieldset.namee %}<h2>{{ fieldset.name }}</h2>{% endif %}
    {% if fieldset.description %}
        <div class="description">{{ fieldset.description|safe }}</div>
    {% endif %}
    {% for line in fieldset %}
        <div class="form-row{% if line.errors %} errors{% endif %}{% for field in line %} {{ field.field.name }}{% endfor %}">
            {{ line.errors }}
            {% for field in line %}
                <div{% if not line.fields|length_is:"1" %} class="field-box"{% endif %}>
                    {% if field.field.name == "images" or field.field.name == "photo" %}
                        {% if field.field.value %} 
                            {% thumbnail field.field.value "100x100" crop="center" as image %}
                            <img width=100 heigth=100 src="{{ image.url }}" />
                            {% endthumbnail %}
                        {% endif %}
                    {% endif %}

                    {% if field.is_checkbox %}
                        {{ field.field }}{{ field.label_tag }}
                    {% else %}
                        {{ field.label_tag }}
                        {% if field.is_readonly %}
                            <p>{{ field.contents }}</p>
                        {% else %}
                            {{ field.field }}
                        {% endif %}
                    {% endif %}
                    {% if field.field.field.help_text %}
                        <p class="help">{{ field.field.field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</fieldset>
</div>
{% endcomment %}