{% load i18n %}
{% if portlet %}
	<p> &nbsp; </p>
	<a href="{% url portlet-edit portlet.id %}"> {% trans "Edit portlet" %}</a>
	<h2> {{ portlet.title }} </h2>
	
	{% if portlet_featured_obj %}
		<p>
			<strong><a href="{{ portlet_featured_obj.get_absolute_url }}">{{ portlet_featured_obj.title }} </a></strong> <br />
			{{ portlet_featured_obj.content|striptags|safe|truncatewords:20 }}	
			<a href="{{ portlet_featured_obj.get_absolute_url }}"> {% trans "Read more" %} </a>
			<br />
		</p>
	{% endif %}

	{% if portlet_objects %}
		{% for obj in portlet_objects %}
			{{ obj.render }}
		{% endfor %}
	{% endif %}

{% else %}
	<p> &nbsp; </p>
	<a href="{% url portlet-add %}"> {% trans "Add portlet" %}</a>
{% endif %}