{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %}

{% block extrahead %}{{ block.super }}
{% url admin:jsi18n as jsi18nurl %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
{{ media }}
<script type="text/javascript" >
(function($) {
  $(document).ready(function ($){
		$('.inline-group h2').click(function(){
			if($('.inline-related').is(':visible')) $('.inline-related').hide('slow');
			else $('.inline-related').show();
		});
  });
})(django.jQuery);
</script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="{{ MEDIA_REAL_ESTATE }}js/real_estate_app_gmaps.js"></script>
<script type="text/javascript" src="{{ MEDIA_REAL_ESTATE }}js/property-load.js"></script>
    
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../">{{ app_label|capfirst|escape }}</a> &rsaquo; 
     {% if has_change_permission %}<a href="../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo; 
     {% if add %}{% trans "Add" %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endif %}{% endblock %}

{% block content %}<div id="content-main">
{% block object-tools %}

{% if change %}
  {% if not is_popup %}
    <ul class="object-tools"><li><a href="history/" class="historylink">{% trans "History" %}</a></li>
    {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
    </ul>
  {% else %}
  <ul class="object-tools">
      <li><a href="../?pop=1" class="historylink">{% trans "Manage list" %}</a></li>
  </ul>
  {% endif %}
{% else %}
  {% if is_popup %}
  <ul class="object-tools">
      <li><a href="../?pop=1" class="historylink">{% trans "Manage list" %}</a></li>
  </ul>
  {% endif %}
{% endif %}
{% endblock %}

<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% submit_row %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}
{% if not notabs %}
  <div class="tabs-menu">
  <ul class="tabs">
  {% for fieldset in adminform %}
  <li  class="{% if forloop.first %}active {% endif %}
  {% for line in fieldset %}{% if line.errors %}errors {% endif%}{% endfor %}"><a href="#{{ fieldset.name|slugify }}">{{ fieldset.name }}</a></li>
  {% endfor %}
  {% for inline_admin_formset in inline_admin_formsets %}
  <li  class="{% for inline_admin_form in inline_admin_formset %}{% for fieldset in inline_admin_form %} {% for line in fieldset %}{% if line.errors %}{% if forloop.first %}errors{% endif %}{% endif%}{% endfor %}{% endfor %}{% endfor %}" ><a href="#{{ inline_admin_formset.formset.prefix }}-group">{{ inline_admin_formset.opts.verbose_name_plural|title }}</a></li>
  {% endfor %}
  </ul>
  </div>
{% endif %}
<div class="clear"> </div>
{% for fieldset in adminform %}
	{% ifequal fieldset.name 'MAPS' %}
	  {% include "admin/real_estate_app/includes/fieldset-gmaps.html" %}
	{% else %}
	  {% include "admin/real_estate_app/includes/fieldset-custom.html" %}
	{% endifequal %}
{% endfor %}

{% block after_field_sets %}{% endblock %}

{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}

{% block after_related_objects %}{% endblock %}

{% submit_row %}

{% if adminform and add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.auto_id }}").focus();</script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}
</div>
</form></div>
{% endblock %}
