.tabs-menu {
	margin: 0 0 0 -3.3em;
}
.tabs-menu ul.tabs {
/*	margin: 0.2em 0 0 -3.1em;*/
	margin: 0 !important;

}
.tabs-menu ul.tabs, .tabs-menu ul.tabs li {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
}
.tabs-menu ul.tabs li {
	cursor: point;
	float: left;
	margin-right: 3px;
/*	padding: 5px 15px;*/
	background:#7CA0C7 url(../img/default-bg.gif) repeat-x scroll left top;
	font-size: 11px;
	margin: 0;
	padding:3px 14px;
	text-align: left;
	border-top: 1px solid #EEEEEE;
}
.tabs-menu ul.tabs li a {
	color: white;
}

.tabs-menu ul.tabs li.active {
	background:#7CA0C7 url(../img/default-bg-reverse2.gif) repeat-x scroll left top;
	border-top: 1px solid #999999;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
}
.tabs-menu ul.tabs li.active a {
	color: black;
}
.clear {
	clear: both;
}
.inline-group {
	margin: 0 !important;
}
h3.errornote-custom {
	margin: -1px 0 0 0 !important;
}
h3.errornote-custom, .tabs-menu ul.tabs li.active.errors {
	background: #FFFFCC !important;
	border-top: 1px solid red !important;
	border-left: 1px solid red !important;
	border-right: 1px solid red !important;
	color: red !important;
}
fieldset.module.errornote-custom {
	border-left: 1px solid red !important;
	border-right: 1px solid red !important;
	border-bottom: 1px solid red !important;
	border-top: none !important;
}
.tabs-menu ul.tabs li.active.errors {
	border-bottom: none !important;
}
.tabs-menu ul.tabs li.errors a {
	color: red !important;
	font-weight: bold;
}

h3#line {
background:#E1E1E1 url(../img/nav-bg.gif) repeat-x scroll left top;
border-top:1px solid #DDDDDD;
border-left:1px solid #DDDDDD;
border-right:1px solid #DDDDDD;
color:#666666;
font-size:11px;
margin:0;
padding:3px 5px;
}


