{% extends "real_estate_app/base.html" %}

{% block content_main %}
    
					<p>Você está vendo: {{ property.address }}, {{ property.district_fk }} 
					{{ property.price|floatformat:2 }} 
					</p>
					<span > CÓDIGO DO IMÓVEL: <strong >{{ property.code_property }}</strong></span>
					<br />
					{% if property.photos %}              
			           <h1>Fotos</h1>
						{% for photo in property.photos %}
								<img src="{{ photo.get_photo_94x94_resize_url }}" alt="image" />
					   {% endfor %}

					{% endif %}
               
					{% if property.description %} 
	               		<h1>Descrição do imóvel</h1>
						<p> {{ property.description|safe|linebreaks }} </p>
					{% endif %}
					
					<h1>Informações detalhadas</h1>
					{% if property.classification_fk or property.iptu or property.condominio or property.private_area or property.under_construction or property.zip_code %}
					<ul>
						{% if property.zip_code %}
						<li> CEP: <strong id="cep"> {{ property.zip_code }} </strong> </li>
						{% endif %}
						{% if property.classification_fk %}
						<li> Tipo de imóvel: <strong> {{ property.classification_fk }} </strong></li>
						{% endif %}
						{% if property.iptu %}
						<li> IPTU: <strong class="price-nblock"> {{ property.iptu|floatformat:2 }} </strong> </li>
						{% endif %}
						{% if property.condominio %}
						<li> Condomínio: <strong class="price-nblock"> {{ property.condominio|floatformat:2 }} </strong> </li>
						{% endif %}
						{% if property.private_area %}
						<li> Área privada: <strong class="area-priv"> {{ property.private_area|floatformat:2 }}</strong> m² </li>
						{% endif %}
						{% if property.under_construction %}

						<li> Em construção: <strong> {% if property.under_construction  == "True" %} Sim {% else %} Não {% endif %} </strong></li>						
						{% endif %}

					</ul>
					{% endif %}
					{% if property.furnishing or property.rooms or property.baths or property.garage or property.elevator %}
					<ul > 
							{% if property.furnishing %}
							<li> Mobiliado: <strong> Sim </strong> </li>
							{% endif %}
							{% if property.rooms %}
							<li>Qtd. Quartos: <strong> {{ property.rooms }}</strong></li>
							{% endif %}
							{% if property.baths %}
							<li>Qtd. Banheiros:<strong> {{ property.baths }} </strong></li>
							{% endif %}
							{% if property.garage %}
							<li>Qtd. Garagens: <strong>{{ property.garage }}</strong></li>
							{% endif %}
							{% if property.elevator %}
							<li> Qtd. Elevadores: <strong> {{ property.elevator }} </strong></li>
							{% endif %}
					</ul>
					{% endif %}
					{% if property.aditionalthings_fk.only %}
					<h1> Informações adicionais do imóvel</h1>
					<ul>
						{% for aditional in property.aditionalthings_fk.only %}
						<li> {{ aditional.name }}: <strong>Sim</strong> </li>
						{% endfor %}
					</ul>
					{% endif %}
{% endblock %}
